// extend para catalogo mobile

%img {
    width: 65%;
    height: 40vh;
}

%catalogoh3 {
    margin-top: 1rem;
    background-color: orange;
    width: 65%;
    text-align: center;
    font-size: large;
    padding: 1rem;
    box-shadow: 4px 4px 5px black;
}

